/* Grundläggande sidostyling */
* { box-sizing: border-box}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111111;
  color:#fff;
}
header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}
/* Navigeringsmeny */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #444;
  display: flex; 
  align-items: center; 
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 1em 1em;
  display: inline-block;
}
nav ul li a:hover { background-color: #555;}
.switch-container {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.fas {
  font-size: 20px;
  color:#fff;
  margin: 5px;
}
.stretch-container {
  margin: 20px;
  padding: 1em;
  background-color: #111111;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(134, 134, 134, 0.575);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
section, article {
  margin: 1em;
  padding: 1em;
  background-color: #111111;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(134, 134, 134, 0.575);
}
article {
  width: 30%;
}
section {
  width: 66%;
}
.light-mode {
  background-color: #f0f0f0;
  color: #000; 
}
.light-mode section, .light-mode article, .light-mode .stretch-container {
  background-color: #fff;
  color: #000;
}
#agenda-title {
  text-align: center;
  margin-top: 50px;
}
.image-container {
  background-color: #fff;
  padding: 10px;
}

/* Carousel styleing */
.mySlides {display: none}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text-slide-two {
  color: #000;
  padding: 5px;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/*Styling för about*/
#about-text-small{
  width: 100%;
  text-align: center;
}
.team-member {
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  display: inline-block;
  width: 31%; /* Anpassa bredden efter dina behov */
  margin: 0 1%; /* Justera mellanrummet mellan personerna */
  text-align: center;
  border-style:solid;
  border-width: 20px;
  border-color: darkgray;
}
.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 20px;
  
}
.source-list li{
  list-style: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}
/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#img-goal{
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 150px;
}
.sustainable-h1{
  text-align: center;
}
.left-behind{
  display: flex;
  justify-content: space-between;
}
.left-behind h2{
  padding:15px;
}
#law-div{
  border-style: solid;
  border-width: 1px;
  width: 50%;
  padding:5px;
  background-color: #333;
}
.aria-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
@media (max-width: 768px) {
  .team-member {
      width: 100%;
      margin: 0 0 20px 0;
  }
}
